{{ template "admin" . }}

{{ define "page-title" }}
  Dashboard
{{ end }}

{{ define "content" }}
  <div class="">Dasboard Content</div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac velit vel ex
    iaculis eleifend a non libero. Vestibulum quis varius quam. Sed vel gravida
    quam. Nulla facilisi. Suspendisse potenti. Integer vel convallis odio.
    Quisque sit amet mauris vel odio tristique convallis. Nullam id ipsum vel
    justo tincidunt ullamcorper. Fusce ut erat a quam fringilla tristique. Duis
    ullamcorper posuere quam, eu auctor justo malesuada a. Curabitur hendrerit
    massa sit amet quam faucibus, a ultrices sem dictum. Aliquam erat volutpat.
    Mauris id ex sed arcu auctor hendrerit.
  </p>
  <p>
    In fermentum elit vitae neque laoreet, ut luctus purus posuere. Sed nec
    fringilla nisl. Integer fringilla magna eu quam ullamcorper fermentum.
    Phasellus non efficitur neque, sit amet maximus est. Fusce ut tristique
    lectus, id bibendum justo. Vivamus quis tortor vel ligula fermentum
    facilisis. Integer eu tincidunt odio. Maecenas malesuada ac urna ac
    bibendum. Aliquam erat volutpat. Vivamus eu nisi nec metus fermentum
    fermentum. Etiam in tristique turpis. Curabitur ultricies tincidunt
    vestibulum. Integer quis elit nec velit tincidunt vestibulum. Sed euismod
    urna a urna tincidunt, a eleifend metus dictum.
  </p>
{{ end }}
