{{ template "base" . }}

{{ define "content" }}
  <div class="container">
    <div class="row">
      <div class="col">
        <img
          src="/static/images/generals-quarters.png"
          class="img-fluid img-thumbnail mx-auto d-block room-image"
          alt="room image"
        />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h1 class="text-center mt-4">General's Quarters</h1>
        <p>
          Your home away form home, set on the majestic waters of the Atlantic
          Ocean, this will be a vacation to remember. Your home away form home,
          set on the majestic waters of the Atlantic Ocean, this will be a
          vacation to remember.
        </p>
      </div>
    </div>

    <div class="row" data-bs-toggle="modal" data-bs-target="#dateModal">
      <div class="col text-center">
        <a id="check-availability-button" href="#!" class="btn btn-success"
          >Check Availability</a
        >
      </div>
    </div>

    <!-- Date Modal -->
    <div class="modal" tabindex="-1" id="dateModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h5 class="modal-title">Choose your dates</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <!-- Modal Body -->
          <div class="modal-body">
            <!-- Date Form -->
            <form id="dateForm">
              <div class="mb-3">
                <label for="start" class="form-label">Start Date</label>
                <input
                  type="date"
                  class="form-control"
                  id="start"
                  name="start"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="end" class="form-label">End Date</label>
                <input
                  type="date"
                  class="form-control"
                  id="end"
                  name="end"
                  required
                />
              </div>
              <button type="submit" class="btn btn-primary" id="submit">
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}

{{ define "js" }}
  <script>
    document.getElementById("submit").addEventListener("click", function (event) {
      event.preventDefault(); // Prevent the form from submitting in the traditional way

      let form = document.getElementById("dateForm");
      let formData = new FormData(form);
      formData.append("csrf_token", "{{.CSRFToken}}");
      formData.append("room_id", "1");

      let startValue = formData.get("start").trim();
      let endValue = formData.get("end").trim();

      if (startValue === "" || endValue === "") {
        alert("date value is empty");
        return;
      }

      fetch('/search-availability-json', {
          method: "post",
          body: formData,
      })
      .then(response => {
          if (!response.ok) {
              throw new Error(`HTTP error! Status: ${response.status}`);
          }
          return response.json();
      })
      .then(data => {
          if (data.ok) {
            if (confirm("Room is available!")) {
              window.location.href="/book-room?id=" + data.room_id + '&s=' + data.start_date + '&e=' + data.end_date;
            }
          } else {
            alert("Room not available!");
          }
      })
      .catch(error => {
          console.error('Fetch error:', error);
      });
    });
  </script>
{{ end }}
