{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>
                This is home page.
            </h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, fugit.
            </p>
            <p>
                Today's quote: {{index .StringMap "quote"}}
            </p>
            <p>
                This came from the template: {{index .StringMap "testHome"}}
            </p>
        </div>
    </div>
</div>
{{end}}