{{ template "base" . }}

{{ define "content" }}
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h1 class="mt-5">Search for Availability</h1>
        <hr />
        <form
          action="/search-availability"
          method="post"
          novalidate
          class="needs-validation"
          id="dateForm"
        >
          <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}" />
          <div class="mb-3">
            <label for="start" class="form-label">Arrival</label>
            <input
              type="date"
              class="form-control"
              id="start"
              name="start"
              required
            />
            <div class="invalid-feedback">Please fill the date!</div>
          </div>

          <div class="mb-3">
            <label for="end" class="form-label">Departure</label>
            <input
              type="date"
              class="form-control"
              id="end"
              name="end"
              required
            />
            <div class="invalid-feedback">Please fill the date!</div>
          </div>

          <hr />
          <button type="submit" class="btn btn-primary" id="submit">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
{{ end }}

{{ define "js" }}
  <script></script>
{{ end }}
